@model Customer
@{
    ViewData["Title"] = "Customer Details";
}

<h3>Customer Details</h3>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="form-control mb-3">
            <h3>@Model.Name</h3>
        </div>
        <div class="form-control">
            <h3>@Model.EmailAddress</h3>
        </div>
    </div>
</div>